rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignIn() {
      return request.auth.uid != null;
    }
    match /messages/{postId} {
      allow read: isSignIn();
      allow write: request.auth.uid === resource.data.authorId;
    }
  }
}